html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(249, 250, 241);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.hr__line{
  color: red !important;
  border-top-width: 9px !important;
}
.site__nav, .footer{
  background-color: transparent !important;
}
#home {
  background-image: url('https://images.prismic.io/plotly-marketing-website-2/b884473c-43b2-40a0-bf8d-0c4dc391250d_banner_img_light.jpg?auto=compress,format');
  background-size: cover;
  background-repeat: no-repeat;
}

.h-icon{
  color: rgb(151, 70, 231) !important;
}